// Whitespace

$grix-space: 20px !default;

// Responsive breakpoints

$grix-breakpoint-tiny: 480px !default;
$grix-breakpoint-small: 600px !default;
$grix-breakpoint-medium: 768px !default;
$grix-breakpoint-large: 900px !default;
$grix-breakpoint-huge: 1200px !default;
